[Unit]
Description=Miner API Server

[Service]
Type=simple
User=root
ExecStart=/usr/bin/miner-api --logfile /var/log/miner/api.log

[Install]
WantedBy=multi-user.target

