[Unit]
Description=Miner Beat Server

[Service]
Type=simple
User=root
ExecStart=/usr/bin/miner-beat --logfile /var/log/miner/beat.log

[Install]
WantedBy=multi-user.target

