[Unit]
Description=Miner Sentry Server

[Service]
Type=simple
User=root
ExecStart=/usr/bin/miner-sentry --logfile /var/log/miner/sentry.log

[Install]
WantedBy=multi-user.target

